/* Cascading Style Sheets (CSS) is used for styling the tag (or "elements) on a web page */
/* Image resize, set the width of all image tags to 200 px (pixels) */
img { 
    width: 200px;
    border-radius: 50%; /* Make image circular */
}

/* Center-align the entire body section */
body {
    text-align: center;
    /* another attribute, font-familiy, to the body rule, and set the value */
    font-family: 'Times New Roman';
    /* more attributes */
    background: gray;
    color: snow;
}